---
---

@import "{{ site.theme }}";

/* Style for the event container */
.event-container {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
}

/* Style for the location */
.event-location {
  font-weight: bold;
  color: #878787;
}

/* Style for the date */
.event-date {
  color: #7f7b7b;
}

/* Style for the conference title */
.event-title {
  margin: 5px 0;
  font-size: 1.2em;
  color: #b5e853;
}

